.Dashboard {
	background-color: #1e1934;
}

/* General  */
.Dashboard .slider-container {
	border-radius: 20px;
	background-color: #392e67;
	height: 100%;
	transition: all var(--main-transition) var(--main-transition) ease-in-out;
}
.Dashboard .content-container {
	background-color: white;
	min-height: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
/* Nav  */
.Dashboard .nav {
	/* height: 85px; */
}
.Dashboard .logo {
	height: 50px;
}
.Dashboard .nav .profileImage {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	background-color: #9b9a9a;
	color: #1e1934;
	font-size: 25px;
}
.Dashboard .nav .notification {
	color: white;
	font-size: 20px;
	cursor: pointer;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Dashboard .nav .notification:hover {
	animation: headShake;
	animation-duration: 0.7s;
}
.Dashboard .nav .username h2 {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
}
.Dashboard .nav .username:hover .icon {
	animation: headShake;
	animation-duration: 0.5s;
}

/* Slider */
.Dashboard .slider {
	height: calc(100vh - 66px);
	transition: all ease-in-out var(--main-transition);
}
.Dashboard .slider:not(.open) .slider-container {
	display: flex;
	justify-content: center;
	border-radius: 0;
}
.Dashboard .slider .sliderTrigger {
	font-size: 30px;
	color: white;
	cursor: pointer;
}

/* search */
