.LandingPage .team .swiper {
	width: 100%;
	height: 100%;
}

.LandingPage .team .swiper-slide {
	position: relative;
	text-align: center;
	border-radius: var(--large-border-radius);
	background: #fff;
	box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	z-index: 1;
	margin-bottom: 30px;

	/* Center slide text vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.LandingPage .team .swiper-slide::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	top: 0;
	bottom: auto;
	background-color: var(--primary-color);
	transition: all ease-in-out 0.3s;
	z-index: -1;
}
.LandingPage .team .swiper-slide:hover::after {
	height: 100%;
	top: auto;
	bottom: 0;
	z-index: -1;
}
.LandingPage .team .swiper-pagination-bullet {
	background-color: var(--primary-color);
}

.LandingPage .team .swiper-slide .memberImg {
	width: 160px;
	height: 160px;
	overflow: hidden;
	border: 4px solid var(--primary-color);
	border-radius: 50%;
}
.LandingPage .team .swiper-slide:hover .memberImg {
	border-color: white;
}
.LandingPage .team .swiper-slide .name {
	font-size: 35px;
	font-weight: 700;
	color: var(--primary-color);
}
.LandingPage .team .swiper-slide:hover .name {
	color: white;
}
.LandingPage .team .swiper-slide .title {
	font-size: 24px;
	font-weight: 400;
}
.LandingPage .team .swiper-slide:hover .title {
	color: white !important;
}
.LandingPage .team .swiper-slide .social a {
	color: #33333388;
	transition: all ease-in-out 0.3s;
}
.LandingPage .team .swiper-slide:hover .social a {
	color: rgba(255, 255, 255, 0.486);
}
.LandingPage .team .swiper-slide .social .linkedin:hover a {
	color: #0072b1;
}
.LandingPage .team .swiper-slide .social .github:hover a {
	color: #333;
}
.LandingPage .team .swiper-slide:hover .social .github:hover a {
	color: #f5f5f5;
}
.LandingPage .team .swiper-slide .social .facebook:hover a {
	color: #0866ff;
}
.LandingPage .team .swiper-slide .social .behance:hover a {
	color: #053eff;
}
