.DialogTitle {
    background-color: var(--secondary-bg-color);
}

.DialogTitle h3 {
    color: var(--primary-color);
    text-align: center;
    padding: 15px 20px 15px 20px;
    font-size: 30px;
    /*written in figma => 24px 40px 24px 40px */
    line-height: 28.13px;
    /*written in figma => 24px */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.DialogContent h4 {
    color: var(--primary-color);
    font-size: 24px;
    line-height: 28.13px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 10px;
}

.DialogContent h5 {
    color: var(--primary-color);
    font-size: 20px;
    /*written in figma => 16px */
    line-height: 19.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 10px;
}

.DialogContent button {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    font-weight: 400;
    /*written in figma => 600 */
    padding: 12px 49px 12px 49px;
    border-radius: 8px;
    font-size: 18px;
}

.DialogContent button:hover {
    background-color: var(--primary-color);
    color: white;
}

.editLine {
    color: #00000080;
    border: 1px solid #00000080;
}


.bottomBtns {
    display: block;
    margin: auto;
}

.bottomBtns button {
    text-transform: none;
    margin: 5px;
    padding: 12px 49px 12px 49px;
    border-radius: var(--main-border-radius);
    width: 200px;

}

.cancelBtn {
    background-color: #ff3333 !important;
    border: 1px solid #ff3333 !important;
}

.submitBtn {
    background-color: #0CED71 !important;
    border: 1px solid #0CED71 !important;
}

@media (min-width: 390px) and (max-width: 844px) and (orientation: portrait) {
    .bottomBtns button {
        width: 100%;
    }

}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .bottomBtns button {
        width: 100%;
    }
}

@media (min-width: 844px) and (max-width: 1023px) and (orientation: landscape) {
    body {
        overflow: hidden;
    }

    .DialogTitle h3 {
        padding: 2px;
        font-size: 15px;
        line-height: 5px;
    }

    .DialogContent h4 {
        font-size: 12px;
        line-height: 23.44px;
        padding: 3px;
    }

    .DialogContent h5 {
        font-size: 10px;
        line-height: 23.44px;
        padding: 3px;
    }

    .DialogContent button {
        width: 100%;
        /*written in figma => 600 */
        padding: 5px;
        border-radius: 8px;
        font-size: 11px;
    }

    .bottomBtns {
        display: flex;
    }

    .bottomBtns button {
        padding: 6px 49px 6px 49px;
        border-radius: var(--main-border-radius);
        width: 50px;
        font-size: 9px;
    }
}