/* src/index.css or src/App.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
	--color-one: #f1f1f1;
	--color-tow: #23032e;
	--color-three: #40a7f4;

	--Alumni-color: #ad3336;
	--Student-color: #00c2a8;
	--HR-color: #388ba6;
	--Admin-color: #000000;
	--Professor-color: #1b0c5d;
	--login-color-1: #fefedf;
	--login-color-2: #fc75b0;
	--Reset-pass-color: #49378e;

	--bg-1: #f5f5dc;

	--main-transition: 0.5s;
	--main-border-radius: 9px;
	--large-border-radius: 20px;
}

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto Condensed", sans-serif;
}
