.jobDetail .jobTitle,
.jobDetail .jobDescription .title .jobDetail .jobReqs .title {
	font-size: 24px;
	font-weight: 400;
	color: black;
}
.jobDetail .apply {
	background-color: var(--accent-color);
}
.jobDetail .list li svg {
	color: var(--accent-color);
}
/* Mobile Styles */
@media (max-width: 767px) {
	/* Your CSS styles for mobile devices here */
	.jobDetail .jobTitle,
	.jobDetail .jobDescription .title .jobDetail .jobReqs .title {
		font-size: 19px;
	}
}

/* iPad Landscape Styles */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
	/* Your CSS styles for iPad in landscape orientation here */
}

/* iPad Portrait Styles */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	/* Your CSS styles for iPad in portrait orientation here */
}
