.AddCourse .title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 48.76px;
	padding-top: 30px;
	position: relative;
  color: var(--primary-color);
}



.AddCourse input,
.AddCourse .select ,.multilineInput {
	background: var(--primary-bg-color);
  background-color: var(--inputs-background);
	border-radius: 8px;
	width: 100%;
}

.AddCourse .imageDiv {
	height: 120px;
	padding: 32px 8px;
	border-radius: 8px;
	border: 1px dashed var(--Admin-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
}

.AddCourse .imageDiv  .browse{
	background: #4D85FF;
	color: #fff;
	padding: 8px 32px;
	width: 160px;
	transition :.3s ;
	position:relative;
	z-index:1;
}

.AddCourse .imageDiv  .browse:hover{
	background: var(--primary-color);

}

.AddCourse p {
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 19.5px;
}

.AddCourse .imageLabel {
	font-family: "Roboto Condensed";
	font-weight: 700;
	font-size: 24px;
	line-height: 28.13px;
	padding-bottom: 10px;
}

.fourthRowLine{
	margin :50px 0 0 0;

}

@media (max-width: 767px) {
	.firstRow > div,
	.fourthRow > div ,
	.secondRow >div {
		margin-bottom: 20px;
	}
	.buttonsDiv {
		flex-direction: column;
		justify-content: center;
	}
	.AddCourse .title{
		font-size: 30px;
	}
	.fourthRowLine{
		margin :10px 0 10px 0;

	}
}

/* iPad Landscape Styles */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
	/* Your CSS styles for iPad in landscape orientation here */
  .firstRow > div,
	.fourthRow > div , 
	.secondRow >div , 
	.addedRow >div {
		margin-bottom: 20px;
	}
	

}

/* iPad Portrait Styles */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	/* Your CSS styles for iPad in portrait orientation here */
  .firstRow > div,
	.fourthRow > div , 
	.secondRow >div {
		margin-bottom: 20px;
	}
}

@media (min-width: 1024px) and (max-width: 1280px)  {
	/* Your CSS styles for iPad in portrait orientation here */
  .firstRow > div,
	.fourthRow > div,
	.secondRow >div {
		margin-bottom: 20px;
	}
}
