.LandingPage {
	background-color: white;
}
.LandingPage .btn {
	position: relative;
	border-radius: var(--main-border-radius);
	overflow: hidden;
	transition: background-color 0.3s ease, color 0.3s ease;
	display: flex;
}
.LandingPage .btn h5 {
	z-index: 5;
	color: white;
	margin-bottom: 0;
}

.LandingPage .btn::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	opacity: 0;
	background-color: var(--cursor-color);
	left: 0;
	bottom: 0;
	transition: all ease-in-out 0.2s;
	z-index: 1; /* Ensure the ::after element is above the text */
}

.LandingPage .btn:hover::after {
	width: 100%;
	height: 100%;
	border-radius: var(--main-border-radius);
	opacity: 1;
	cursor: none;
	z-index: 2; /* Bring the ::after element above the text on hover */
}

.LandingPage .btn:hover {
	background-color: transparent;
	color: var(--cursor-color);
	cursor: none;
}

.LandingPage a:hover {
	cursor: none;
}
/* nav  */
.LandingPage .login {
	border: 2px solid var(--Professor-color);
}
.LandingPage .login h5 {
	color: var(--Professor-color);
}
.LandingPage .login:hover {
	border-color: var(--cursor-color);
}
.LandingPage .login:hover::after {
	background-color: var(--cursor-follow-color);
}
.LandingPage nav .signup {
	background-color: var(--secondary-color);
}

/* intro  */
.LandingPage .intro h1 {
	font-size: 60px;
	font-weight: 700;
	color: var(--Professor-color);
}
.LandingPage .intro h2 {
	font-size: 30px;
	font-weight: 700;
	color: var(--Professor-color);
}
.LandingPage .intro .signup {
	width: fit-content;
	background-color: var(--secondary-color);
}
