.profile {
	min-height: 100vh;
	padding: 35px 0px;
}
.profile .name {
	font-size: 48px;
	font-weight: 600;
}
.profile .ProfileImg {
	display: flex;
	background-color: #e4e4e4;
	width: 150px;
	height: 150px;
	border: 1px solid #000000;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.profile .ProfileImg i {
	font-size: 4em;
}
@media (max-width: 767px) {
	.profile .ProfileImg {
		margin: auto;
		width: 130px;
		height: 130px;
	}
	.profile .ProfileImg i {
		font-size: 4em;
	}
}

.AlumniProfile .Edit-btn {
	background-color: var(--Alumni-color);
	border-radius: 22px;
	color: white;
	border: 1px solid black;
}
.AlumniProfile .Edit-btn i {
	font-size: 0.85em;
	margin-right: 5px;
}
@media (max-width: 767px) {
	.AlumniProfile .Edit-btn {
		position: absolute;
		top: 10px;
	}
	.AlumniProfile .Edit-btn i {
		margin-right: 0px;
	}
}
