/* Profile in general */
.profile {
	min-height: 100vh;
	padding: 35px 0px;
}
.profile ::selection {
	color: white;
}
.AlumniProfile ::selection {
	background-color: var(--Alumni-color);
}
.HRprofile ::selection {
	background-color: var(--HR-color);
}
.StudentProfile ::selection {
	background-color: var(--Student-color);
}
.AdminProfile ::selection {
	background-color: var(--Admin-color);
}
.ProfessorProfile ::selection {
	background-color: var(--Professor-color);
}
.input-box {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 35px;
	width: 100%;
}
.input-box span {
	position: absolute;
	color: #eb5d61;
	font-size: 1em;
	padding: 20px 10px 10px;
	left: 0;
	pointer-events: none;
	letter-spacing: 0.05em;
	transition: 0.5s;
	transform: translateX(-10px);
}
.input-box input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 20;
}
.input-box input:focus ~ span {
	transform: translate(-10px, -34px);
	font-size: 0.75em;
}
.input-box i {
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	transition: 0.5s;
	pointer-events: none;
	background-color: #007e9e;
}
.input-box input:focus ~ i {
	height: 44px;
	z-index: 10;
}
/* ---  */

/* Profile img and general info  */
.profile .name {
	font-size: 48px;
	font-weight: 600;
}
.profile .ProfileImg {
	display: flex;
	background-color: #e4e4e4;
	width: 150px;
	height: 150px;
	border: 1px solid #000000;
	border-radius: var(--main-border-radius);
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.profile .ProfileImg .label {
	bottom: -8px;
	width: 100%;
	text-align: center;
	left: 0;
	font-size: 21px;
	color: white;
}
.AlumniProfile .ProfileImg .label {
	background: var(--Alumni-color);
}
.HRprofile .ProfileImg .label {
	background: var(--HR-color);
}
.StudentProfile .ProfileImg .label {
	background: var(--Student-color);
}
.AdminProfile .ProfileImg .label {
	background: var(--Admin-color);
}
.ProfessorProfile .ProfileImg .label {
	background: var(--Professor-color);
}
.profile .ProfileImg .userImg {
	font-size: 4em;
	transition: all var(--main-transition) ease-in-out;
}
.profile .ProfileImg .addImg {
	z-index: -1;
	transition: all var(--main-transition) ease-in-out;
}
.profile .ProfileImg:hover .userImg {
	opacity: 0.25;
}
.profile .ProfileImg:hover .addImg {
	z-index: 1;
	font-size: 3em;
}
.profile .sec-title .add {
	right: 27px;
	font-size: 20px;
	cursor: pointer;
}
@media (max-width: 767px) {
	.profile .ProfileImg {
		margin: auto;
		width: 130px;
		height: 130px;
	}
	.profile .ProfileImg i {
		font-size: 1em;
	}
	.profile .name {
		font-size: 30px;
		margin-top: 10px;
	}
}
/* ---  */

/* generate cv btns  */
.profile .GenerateCV {
	border-radius: 22px;
	color: white;
	border: 1px solid black;
	margin-right: 5px;
}
.profile .GenerateCV {
	background-color: #39b581;
}
@media (max-width: 767px) {
	.profile .GenerateCV {
		position: absolute;
		top: 10px;
	}
}
/* ---  */

/* profile sections in general  */
.profile .sec {
	border: 1px solid #000000;
	border-radius: var(--main-border-radius);
	margin: 20px 0px;
	width: 100%;
	padding: 19px;
	min-height: calc(100% - 20px);
}
.profile .sec .visibility {
	cursor: pointer;
}
.profile .sec .sec-title {
	border-bottom: 1px solid;
	font-size: 30px;
	padding-bottom: 5px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
.profile .sec .sec-title .visibility {
	right: 0;
	font-size: 20px;
}
.profile .sec .sec-title .icon {
	font-size: 20px;
}
.profile .empty-sec,
.profile .not-empty-sec {
	padding: 28px 9px;
}
.profile .empty-sec .add {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	opacity: 0;
	transition: all var(--main-transition);
}
.profile .empty-sec .add .addIcon {
	font-size: 2em;
}
.profile .empty-sec .add h1 {
	font-size: 30px;
}
.profile .empty {
	transition: all var(--main-transition) ease-in-out;
	cursor: pointer;
}
.profile .empty:hover {
	background-color: #cbcacad3;
}
.profile .empty:hover .add {
	opacity: 1;
}
.profile .empty-sec .sec-placeholder,
.profile .empty-sec .skill-placeholder {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.profile .empty-sec .skill-placeholder span {
	display: inline-block;
	background-color: #c9c8c8;
	width: 60px;
	height: 20px;
	border-radius: 5px;
	margin-right: 5px;
}
.profile .empty-sec .sec-placeholder span:nth-of-type(1) {
	display: inline-block;
	background-color: #c9c8c8;
	width: 20px;
	height: 20px;
	border-radius: 5px;
}
.profile .empty-sec .sec-placeholder span:nth-of-type(2) {
	display: inline-block;
	width: 112px;
	height: 13px;
	background-color: #c9c8c8;
	margin-left: 10px;
}
.profile .empty-sec .sec-placeholder-2 {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	flex-direction: column;
	align-items: start;
}
.profile .empty-sec .sec-placeholder-2 span,
.profile .empty-sec .sec-placeholder-2 .half {
	display: inline-block;
	background-color: #c9c8c8;
	width: 90%;
	height: 17px;
	border-radius: 0;
	margin-bottom: 10px;
}
.profile .empty-sec .sec-placeholder-2 .half {
	width: 35% !important;
}
/* ---  */

/* Profile URLs section  */
.ProfileURLs .url-list {
	list-style: none;
}
.ProfileURLs .url-list a {
	font-size: 24px;
	text-decoration: none;
	color: black;
	transition: all var(--main-transition) ease-in-out;
}
.AlumniProfile .url-list a:hover {
	color: var(--Alumni-color);
}
.HRprofile .url-list a:hover {
	color: var(--HR-color);
}
.StudentProfile .url-list a:hover {
	color: var(--Student-color);
}
.AdminProfile .url-list a:hover {
	color: var(--Admin-color);
}
.ProfessorProfile .url-list a:hover {
	color: var(--Professor-color);
}
.ProfileURLs .url-list li .icon {
	margin-right: 10px;
	font-size: 20px;
}
.ProfileURLs .url-list li .linkedin {
	color: #0077b5;
}
.ProfileURLs .url-list li .github {
	color: #171515;
}
.ProfileURLs .url-list li .behance {
	color: #1769ff;
}

/* ---  */

/* Profile contact info  */
.profile .ProfileContactInfo .not-empty-sec h1,
.profile .PersonalInformation .not-empty-sec h1 {
	font-size: 32px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.profile .ProfileContactInfo .not-empty-sec h1 .icon,
.profile .PersonalInformation .not-empty-sec h1 .icon {
	margin-right: 10px;
}
.profile .ProfileContactInfo .not-empty-sec .add-phone,
.profile .PersonalInformation .not-empty-sec .add-address {
	cursor: pointer;
	transition: all var(--main-transition) ease-in-out;
}
.profile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.profile .PersonalInformation .not-empty-sec h1 .edit {
	font-size: 19px;
	margin: auto;
	height: 100%;
	margin-left: 10px;
	cursor: pointer;
}
.AlumniProfile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.AlumniProfile .PersonalInformation .not-empty-sec h1 .edit {
	color: var(--Alumni-color);
}
.HRprofile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.HRprofile .PersonalInformation .not-empty-sec h1 .edit {
	color: var(--HR-color);
}
.StudentProfile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.StudentProfile .PersonalInformation .not-empty-sec h1 .edit {
	color: var(--Student-color);
}
.AdminProfile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.AdminProfile .PersonalInformation .not-empty-sec h1 .edit {
	color: var(--Admin-color);
}
.ProfessorProfile .ProfileContactInfo .not-empty-sec .phone-number .edit,
.ProfessorProfile .PersonalInformation .not-empty-sec h1 .edit {
	color: var(--Professor-color);
}
.AlumniProfile .ProfileContactInfo .not-empty-sec .add-phone:hover,
.AlumniProfile .PersonalInformation .not-empty-sec .add-address:hover {
	color: var(--Alumni-color) !important;
}
.HRprofile .ProfileContactInfo .not-empty-sec .add-phone:hover,
.HRprofile .PersonalInformation .not-empty-sec .add-address:hover {
	color: var(--HR-color) !important;
}
.StudentProfile .ProfileContactInfo .not-empty-sec .add-phone:hover,
.StudentProfile .PersonalInformation .not-empty-sec .add-address:hover {
	color: var(--Student-color) !important;
}
.AdminProfile .ProfileContactInfo .not-empty-sec .add-phone:hover,
.AdminProfile .PersonalInformation .not-empty-sec .add-address:hover {
	color: var(--Admin-color) !important;
}
.ProfessorProfile .ProfileContactInfo .not-empty-sec .add-phone:hover,
.ProfessorProfile .PersonalInformation .not-empty-sec .add-address:hover {
	color: var(--Professor-color) !important;
}
.profile .ProfileContactInfo .not-empty-sec a,
.profile .PersonalInformation .not-empty-sec a {
	text-decoration: none !important;
	color: black;
}
/* ---  */

/* Profile skills  */
.profile .sec-title .add {
	right: 27px;
	font-size: 20px;
	cursor: pointer;
}
/* ---  */

/* Profile Edu  */
.ProfileEdu .edu-list .row div:nth-of-type(2) h5 {
	padding: 5px 15px;
}
.ProfileEdu .gpa,
.ProfileEdu .status {
	margin-top: 5px;
}
.ProfileEdu .gpa div:nth-of-type(2) h5,
.ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: #0eab00;
	display: inline;
	border-radius: 19px;
	color: white;
}
.AlumniProfile .ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: var(--Alumni-color);
}
.HRprofile .ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: var(--HR-color);
}
.StudentProfile .ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: var(--Student-color);
}
.AdminProfile .ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: var(--Admin-color);
}
.ProfessorProfile .ProfileEdu .status div:nth-of-type(2) h5 {
	background-color: var(--Professor-color);
}
/* ---  */
/* Profile cv */
.ProfileCV .uploadCV {
	background-color: #bbbbbb;
	border: 1px solid;
	border-radius: 19px;
}
/* ---  */
