.Signup {
	min-height: 100vh;
	overflow: hidden;
}
.Signup .container-fluid {
	position: relative;
}
.Signup .container-fluid,
.Signup .container-fluid .row {
	min-height: inherit;
}
.AlumniSignup .row > div:nth-child(1) {
	background-color: var(--Alumni-color);
}
.StudentSignup .row > div:nth-child(1) {
	background-color: var(--Student-color);
}
.HRSignup .row > div:nth-child(1) {
	background-color: var(--HR-color);
}
.Signup .row > div:nth-of-type(1) img {
	max-width: 75%;
	max-height: 75%;
	animation: up-Down 5s both linear infinite;
}

.Signup .row .introText h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	text-align: center;
}
.Signup .row .introText p {
	font-size: 10px;
	text-align: center;
	font-weight: 800;
}

.Signup form {
	position: relative;
	min-height: 75vh;
}
.Signup form .part1,
.Signup form .part2 {
	position: absolute;
	width: 100%;
	transition: all var(--main-transition) ease-in-out;
}
.Signup form .part1 {
	top: 50%;
	transform: translateY(-50%);
}
.Signup form .part2 {
	display: none;
}
.AlumniSignup form .part2,
.HRSignup form .part2 {
	top: 90px;
}
.StudentSignup form .part2 {
	top: 170px;
}
.Signup form .input-group,
.Signup form button {
	border: 2px solid var(--color-tow);
	border-radius: var(--main-border-radius);
	z-index: 20;
}
.Signup form .submit {
	top: 68%;
	transition: all var(--main-transition) ease-in-out;
}
.Signup form button {
	color: #ffffff;
	font-family: 600;
	transition: all 0.2s ease-in-out !important;
	margin-bottom: 20px;
}
.AlumniSignup form button {
	background-color: var(--Alumni-color);
}
.StudentSignup form button {
	background-color: var(--Student-color);
}
.HRSignup form button {
	background-color: var(--HR-color);
}
.Signup form button:hover {
	color: #ffffff !important;
	opacity: 0.75;
}
.AlumniSignup form button:hover {
	background-color: #007e9e !important;
}
.StudentSignup form button:hover {
	background-color: #12685d !important;
}
.HRSignup form button:hover {
	background-color: #2b6f85 !important;
}
.Signup form .error {
	margin-left: 1em;
	z-index: 10;
	opacity: 1;
	transition: all var(--main-transition) ease-in-out;
}
.AlumniSignup form .error {
	color: var(--Alumni-color);
}
.StudentSignup form .error {
	color: var(--Student-color);
}
.HRSignup form .error {
	color: var(--HR-color);
}
.Signup form .input-group span {
	background: transparent;
	border: none;
}
.Signup form .input-group span img {
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.Signup form .input-group input {
	border: none;
}
.Signup form .input-group input:focus {
	outline: none !important;
	box-shadow: none !important;
	border: none;
}
.Signup form .input-group input::placeholder {
	opacity: 1;
	transition: all var(--main-transition) ease-in-out;
}
.Signup form .input-group input:focus::placeholder {
	opacity: 0;
}
@keyframes up-Down {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(10px);
	}
}
